body{
    font-family: 'Georgia', serif;
    color:#3E4349;
}

div#nav {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 10em;
//    background-color: rgba(76, 175, 80, 0.3);
}

hr#nav {
    width:100px;
    margin-left:0;
    
}

div#flashed {
    margin-left: 10em;
    font-size: large;
}

#content {
    margin-left: 10em;
}
.box {
    backgound-color: rgba(76, 175, 80, 0.3);
}
