{% extends "base.html" %}
{% block body %}
        <h1>About!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
        <div><img src="/static/aquapilogo.jpg"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2">
        <p>An Automatic Plant Watering System developed by Mario Mena, Dhanvinder Singh, and Otto Vogrincic.</p>
        <object width="700" height="700" data="/static/FinalDocumentation.pdf"></object>
        </div>
    </div>
</div>
{% endblock %}